/* Header CSS Settings */

header#navbar {
	width: 100%;
	top: 40%;
	position: absolute;
	background-color: rgba(0,0,0,.25);
	border-top: solid .5px rgba(200,200,200,.55);
	border-bottom: solid .5px rgba(255,255,255,.55);
	z-index: 10;
}

ul {
	list-style-type: none;
}

ul.nav-list {
	margin-top: 4.5%;
	text-align: center;
	padding: 0;
}

li.social-list {
	float: right;
}

span.myName {
	float: left;
	font-family: 'Amatic SC', cursive;
	margin: 0 0 0 0;
	padding: 0;
	font-size: 36px;
}

p.myNameDesc {
	font-size: 16px;
	font-family: 'Amatic SC';
	clear: both;
	position: relative;
	margin-bottom: 0;
	top: -10px;
	left: 30%;
}

li {
	display: inline;
}

ul li a {
	text-decoration: none;
	color: white;
	font-size: 70%;
	padding: 0 15px;
	transition: .2s;
	text-transform: uppercase;
	letter-spacing: 3px;
}

ul.social-list {
	margin: 8% 0;
	float: right;
}

ul.social-list li {
	padding: 0;
	margin: 0 -10px;
	float: right;
}

ul.social-list li img {
	width: 50%;
	border: solid 1px white;
	border-radius: 30%;
	padding: 10%;
}

ul.nav-list li a:hover {
	color: lightskyblue;
	background-color: rgba(0,0,0,.27);
	margin: 0;
	text-decoration: none;
}

ul.nav-list li a:focus {
	text-decoration: none;
	color: white;
}

ul.social-list li img:hover {
	color: #6666ff;
	background-color: rgba(0,0,0,.27);
}

ul li.mobileIcon {
	display: none;
}

/* Header Closes */


