

@media screen and (min-width: 1061px) and (max-width: 1201px) {
	ul.nav-list {
		margin-top: 5.5%;
	}

	ul.social-list {
		margin: 10% 0;
		float: left;
	}

	ul.social-list li {
		padding: 0;
		margin: 0 -15px;
		float: left;
	}
}

@media screen and (min-width: 997px) and (max-width: 1060px) {

	ul.nav-list {
		margin-top: 5.5%;
		text-align: left;
		padding: 0;
	}

	ul.social-list li {
		position: relative;
		left: -15px;
		margin: 5px -15px;
	}
}


@media screen and (max-width: 996px) {
	ul.nav-list {
		margin-top: 4%;
		text-align: left;
		padding: 0;
	}

	ul.nav-list li a {
		padding: 0 14px;
	}

	ul.social-list {
		margin-left: 1%;
		padding: 0 3%;
		float: left;
	}

	.myNameDesc, .myName {
		display: none;
	}

	h1.headlinetext {
		font-size: 36px;
		margin-left: 12px;
	}

	h1.headlineSpeciality {
		font-size: 36px;
		margin-left: 12px;
	}

	.paragraph {
		font-size: 16px;
	}

	h3.blackFont {
		display: none;
	}

	#parallax2 { /* Need to make the overflow stop or disappear */
		height: 100%;
	}

	.img-thumbnail {
    	min-width: 90%;
	}
}

@media screen and (min-width: 488px) and (max-width: 767px) {
	ul.social-list {
		display: none;
	}

	ul.nav-list {
		margin-top: 3%;
		text-align: center;
		padding: 0; /* new */
	}

	ul li a {
		padding: 0 15px;
	}

	.img-thumbnail {
		margin: 0 auto;
    	width: 70%;
    	min-width: 50%;
    	display: block;
	}

	#parallax2 { 
		height: 120%;
		overflow: auto;
	}

	section blockquote.quote {
		margin-top: 65%;
		position: relative;
		font-size: 30px;
	}

	i.quoteswipe {
		font-size: 40px;
		position: relative;
		top: 55%;
	}

	h1 {
	font-size: 45px;
	}

	label {
		font-size: 14px;
	}

	input.form-control {
		font-size: 12px;
	}

	textarea.form-control {
		font-size: 12px;
	}

	img.img-rounded.skill_images:first-of-type {
		display: inline;
		width: 50%;
		height: 100%;
		position: relative;
		margin-left: 37px;
	}
}

@media screen and (min-width: 488px) and (max-width: 575px) {
	section blockquote.quote {
		margin-top: -280px;
		position: absolute;
		font-size: 30px;
		min-width: 30%;
	}

	img.img-rounded.skill_images:first-of-type {
		display: none;
	}

	img.img-rounded.skill_images {
		display: none;
	}

	h1.headlineSpeciality {
		display: none;
	}

	.paragraph {
		padding-top: 5%;
		width: 80%;
		max-width: 80%;
		margin: 0 auto;
	}

	#parallax2 { 
		height: 110%;
		overflow: auto;
	}

	i.fa-chevron-left {
		font-size: 30px;
		position: relative;
		top: -280px;
		float: left;
	}

	i.fa-chevron-right {
		font-size: 30px;
		position: relative;
		top: -620px;
		clear: both;
		float: right;
	}
	
	ul li a {
		padding: 0 13px;
	}

	a.quoteFromLink {
		display: none;
	}

}

@media screen and (max-width: 498px) {
	ul li a {
		padding: 0 13px;
	}
	a.quoteFromLink {
		display: none;
	}
}

@media screen and (max-width: 487px) {
	ul.social-list {
		display: none;
	}

	ul li:not(:last-child) {
		display: none;
	}

	ul li.mobileIcon {
		position: relative;
		top: -8px;
		padding: 0;
		display: inline-block;
		float: right;
		border: solid 2px white;
		border-radius: 3px;
	}

	ul li.mobileIcon a {
		padding-left: 11px;
		padding-right: 9px;
	}

	#parallax2 { 
		height: 110%;
		overflow: auto;
	}

	.headlinetext {
		top: 130px;
	}

	.img-thumbnail {
		margin: 0 auto;
    	min-width: 50%;
    	display: block;
	}

	img.img-rounded.skill_images:first-of-type {
		display: none;
	}

	img.img-rounded.skill_images {
		display: none;
	}

	h1.headlineSpeciality {
		display: none;
	}

	.paragraph {
		padding-top: 5%;
		width: 80%;
		max-width: 80%;
		margin: 0 auto;
	}

	section blockquote.quote {
		margin-top: -140px;
		position: relative;
		font-size: 30px;
		max-width: 20%;
	}

	i.fa-chevron-left {
		font-size: 30px;
		position: relative;
		top: -160px;
		float: left;
	}

	i.fa-chevron-right {
		font-size: 30px;
		position: relative;
		top: -400px;
		clear: both;
		float: right;
	}

	h1 {
		font-size: 35px;
	}

	label {
		font-size: 12px;
	}

	footer {
		font-size: .5em;
	}

	input.btn.btn-primary {
		font-size: 12px;
	}

/* 	NavBar Icon Responsive Toogle Class*/	
	
	  ul.responsive {
	  	position: relative;
	  	margin: 0;
	  }
	  
	  ul.responsive li.mobileIcon {
		position: absolute;
		top: 8px;
		right: 16px;
		margin: -5px 0;
	  }
	  
	  ul.responsive li {
	    float: none;
	    display: inline;
	  }
	  
	  ul.responsive li a {
	    text-align: left;
	    text-decoration: none;
	    display: block;
	    margin: 5px 0;
	  }

	  a:visited {
	  	color: white;
	  }
}
